body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
}

.body-content{
    margin-top: 50px;
    padding: 220px 10px 0 10px;
}
