body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
}

.body-content{
    margin-top: 50px;
    padding-top: 220px;
    padding-left: 10px;
    padding-right: 10px;
}
