<p>What would you like to do?</p>
<div class="list-group">
    <a asp-controller="Medicine" asp-action="Index" class="list-group-item"> Medicines </a>
    <a  class="list-group-item"> Prescriptions </a>
    <a  class="list-group-item"> Orders </a>
</div>