<h1 class="col-md-offset-2 col-md-8 ">Pharmacy</h1>
<div class="thumbnail col-md-offset-2 col-md-8 .caption">
    <h4>What would you like to do?</h4>
    <div>
        <a asp-controller="Medicine" asp-action="Index" class="list-group-item">Check list of medicines, add, edit or delete medicine </a>
        <a asp-controller="Prescription" asp-action="Index" class="list-group-item"> Check list of prescriptions, add or delete prescription </a>
        <a asp-controller="Order" asp-action="Index" class="list-group-item"> Check list of orders or place an order </a>
    </div>
</div>
