@model Pharmacy.Models.Medicine

<h2>Add a medicine</h2>
<hr/>
<div class="thumbnail col-md-offset-3 col-md-6">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>

            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WithPrescription" /> With prescription
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add medicine" class="btn btn-success mt-30 pull-right" />
                <a asp-action="Index" class="btn btn-danger mt-30">Back</a>
            </div>
    </form>
</div>

